nav {
  background: #F48b94;
  top: 0;
  height: 80px;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  z-index:10;
}

#nav-bar .compose-tweets {
    background-color: #FDD2B5;
    border: 3px #FBA100;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 15px;
    border-radius: 20px;
}

#nav-bar .compose-tweets:hover {
 background-color: white;
 color:#FDD2B5;
}

#nav-bar .header {
  color: white;
  font-size: 200%;
  line-height: 75px;
  float: left;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}
