

nav {
  background: #6C648B;
  top: 0;
  height: 80px;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;

}


#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  color: white;
  font-size: 200%;
  line-height: 75px;
  float: left;
}