.new-tweet {
  border: solid 1.5px #cdcdcd;
  border-radius: 10px;
  background-color: #ACDBC9;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: none;

}

.new-tweet h2 {
  border-bottom: solid 1.3px;
  color: white;
}

.new-tweet textarea {
  display: block;
  width: 100%;
}

.new-tweet input {
  margin-top: 5px;
}

.new-tweet .counter {
  float: right;
  margin-top: 5px;
  color: grey;

}
